<h1>Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:


1.   Scikit-learn
2.   Pandas
3. Numpy
4. seaborn
5. Matplotlib

three development environment open source tools used in data science.

| Data Science Tools |
| ----------------- |
| Jupyter Notebooks           |
| Apache Spark           |
| Apache Hadoop            |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Objectives:


* Add Comment to code cells
* Create markdown Cells
*   List popular languages for Data Science
*   List commonly used libraries used by Data Scientists
* List three development environment open source tools used in data science

<h2>Author:</h2>

JABRANE MERIZAK